.navbar {
    padding: 15px;
    margin: 10px;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;

}

.hero {
    width: 100%;
    height: 70vh;
    background-color: #F2F2F2;
    background-image: url(./images/Dot.png), url(./images/Dot1.png), url(./images/arrow\ \(1\)\ 1.png), url(./images/Back\ image\ 2.png), url(./images/Back\ image\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 0%, 100%, 50%, 58%, 81%;
    background-position-y: 85%, 15%, 50%, 95%, 30%;

}

.hero-inner {
    margin-top: 5%;
}

.text {
    text-align: center;
    font-weight: bolder;
}

.btn1 {

    border: solid 6px #EA3D3C;
    border-radius: 4px;
    background: #EA3D3C;
    color: white;
    height: 45px;
    display: flex;
    padding-right: 15px;
}

.para {
    padding-top: 3px;
    padding-left: 8px;
}

.arrow {
    width: 15px;
    height: 27px;
    margin-left: 15px;
    vertical-align: middle;
    margin-top: 2px;
}

.image {
    position: relative;
    width: 65%;
    height: 80%;
    margin-top: 6%;
    margin-left: 20%;
    object-fit: contain;
}

/* Explore Section */
.text {
    margin-top: 80px;
}

.color {

    position: relative;
    border-radius: 50%;
    background-color: rgba(234, 61, 60, 0.3);
    width: 19%;
    height: 66px;
}

.image1 {
    margin-top: 10px;
    padding: 5px 20px;
}

.back {


    background-image: url(./images/Arr.png), url(./images/Ecp.png), url(./images/BG.png), url(./images/Explore\ image.png);
    background-repeat: no-repeat;
    background-size: 20px, 25px, 200px, 400px;
    background-position: 410px 435px, 408px 433px, 280px 400px, center left;
    border-radius: 20px;
}

.text2 {
    margin-top: 417px;
    margin-left: 310px;
    color: white;

}

.text-1 {
    margin-left: 313px;
    color: white;
}

.text1 {
    padding: 150px 100px;
}

/* Discover Section */

.text3 {
    margin: 35px;
}

.color-1 {

    background-color: #EA3D3C;
    height: 60vh;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.image4 {
    background-image: url(./images/image.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right;
    height: 305px;
    padding: 50px;
    margin-top: 45px;
}

.red {
    color: white;
}

.rec {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 70px 0px;
}

.b1,
.b2,
.b3 {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 230px;
    border: #DDDDDD solid 1px;
    border-radius: 10px;
    text-align: center;
    padding-top: 70px;
    padding-left: 10px;

}

.check {
    background-image: url(./images/check.png), url(./images/check.png), url(./images/check.png);
    background-repeat: no-repeat;
    background-position-y: 0px, 43px, 88px;
}

.back1 {
    padding: 130px 50px;

}

.back1 h1 {
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 50px;
}

.p1 {
    margin-bottom: 40px;
}

.check p {
    margin-bottom: 20px;
}

.imge {
    width: 100%;
    padding: 160px 50px;
}

/* Team Members */
.text-2 {
    text-align: center;
}

.back3 {
    text-align: center;
}

.back3 h1 {
    font-weight: bold;
}

.back3 p {
    margin-top: 10px;
}

.m1 {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.back3 h5 {
    font-weight: bold;
}

/* Our Testimonials */

.text-3 {
    margin-top: 80px;
    text-align: center;
}

.text-3 h2 {
    font-weight: bold;
}

.text-3 p {
    margin-top: 25px;
}

.b4 {
    border: #DDDDDD solid 1px;
    border-radius: 10px;
    padding: 15px 29px;
    background-image: url(./images/Torest.png), url(./images/Torest.png), url(./images/Torest.png);
    background-repeat: no-repeat;
    background-position: 11% 80%;
    margin: 65px 10px;
}

.set {
    padding: 15px 85px;
}

/* Our Famous Clients */

.text-4 {
    margin-top: 50px;
    text-align: center;
}

.text-4 h3 {
    font-weight: bolder;
}

.client {
    padding: 60px 150px;
}

/* Blogs */

.text-5 {
    margin-top: 80px;
    text-align: center;
}

.text-5 h2 {
    font-weight: bolder;
}

.bor {
    margin-top: 80px;
    padding: 20px 30px;
}

.Blog-image {
    width: 100%;
    border-radius: 20px;

}

.blog h5 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blog p {
    margin-bottom: 20px;
}

/* Last Section */

.hero3 {
    width: 100%;
    height: 70vh;
    background-color: #111111;
    margin-top: 50px;
    padding-left: 120px;
}

.last {
    color: white;
    padding: 185px;
    background-image: url(./images/logos.png);
    background-repeat: no-repeat;
    background-position: 85% 50%;
}

.p2 {
    color: white;
    line-height: 50px;
    padding-bottom: 50px;
}

.b6 {
    padding-top: 190px;
}

.b6 h1 {
    color: white;
}

.b7 {
    padding-top: 100px;
}

/* .copyright {
    padding: 110px 5px;
} */















.hero1 .container .row .col-md-4 p {
    text-align: left;
}

@media screen and (max-width:767px) {
    .hero .pic {
        display: none;
    }

    .hero1 .container .row .col-md-4 {
        text-align: center;
    }

    .hero1 .container .row .col-md-4 .color {
        display: inline-block;
    }

    .hero1 .container .row .col-md-4 p {
        text-align: center;
    }

    .text1 {
        padding: 100px 30px;
        text-align: center;
    }
}